# --- Сайт университета ---
UNI_BASE_URL=https://lk.tolgas.ru
UNI_LOGIN=your_login_here
UNI_PASSWORD=your_password_here

# --- Telegram bot ---
TELEGRAM_BOT_TOKEN=your_token_here

# --- База данных ---
DATABASE_URL=postgresql://user:password@localhost:5432/schedule

# --- Redis ---
REDIS_URL=redis://localhost:6379/0
